@font-face {
	font-family: "BebasNeue-Regular";
	src: url("../fonts/BebasNeue-Regular.woff") format("woff"), url("../fonts/BebasNeue-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "BebasNeueCyrillic";
	src: url("../fonts/ofontruBebasNeue.woff") format("woff"), url("../fonts/ofontruBebasNeue.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat-Medium";
	src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat-SemiBold";
	src: url("../fonts/Montserrat-SemiBold.woff") format("woff"),
		url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

$orange: linear-gradient(315deg, #ae320a 19.87%, #f75d2b 80.11%), #0a0e20;
$green: linear-gradient(315deg, #37c058 19.87%, #4bdb6d 80.11%), #0a0e20;
$lightYellow: linear-gradient(315deg, #ffc060 19.87%, #ffe79a 80.11%), #0a0e20;
$lightGreen: linear-gradient(315deg, #8fbe15 19.87%, #aad50e 80.11%), #0a0e20;

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0 auto;
	color: #fff;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	display: inline-block;
	text-decoration: none;
}

// -------------------------------

.slick__items {
	width: 100%;
	position: relative;
}

.header {
	width: 1200px;
	margin: 0 auto;
	margin-top: 32px;
	height: 48px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Montserrat-SemiBold";
	font-style: normal;
	margin-bottom: 145px;
	&-logo {
		font-size: 26px;
	}
	&-btn {
		border: 1px #fff solid;
		font-size: 16px;
		line-height: 24px;
		padding: 11px 15px;
		cursor: pointer;
		border-radius: 6%;
		z-index: 1000;
	}
}

.content {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	font-size: 20px;
	line-height: 28px;
	display: flex;
	justify-content: space-between;
	&-wrap {
		max-width: 585px;
		margin-bottom: 184px;
		font-family: "Montserrat-Medium";
	}
	&-top {
		font-weight: 700;
		font-size: 46px;
		line-height: 54px;
		margin-bottom: 24px;
	}
	&-text {
		font-size: 20px;
		line-height: 28px;
		max-width: 491px;
		.text-bold {
			font-style: normal;
			font-weight: 600;
			margin: 24px 0px 4px 0px;
		}
		.text-mid {
			opacity: 0.8;
			p {
				margin: 0;
			}
		}
	}

	.slick-slide {
		width: 1200px;
	}
	&-box {
		margin-top: 20px;
		margin-right: 20px;
		width: 351px;
		.top {
			font-family: "Montserrat-Medium";
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 28px;
			margin-bottom: 2px;
		}
		.text {
			font-family: "BebasNeue-Regular";
			font-style: normal;
			font-size: 96px;
			line-height: 100%;
			letter-spacing: 0.02em;
			margin-bottom: 26px;
		}
		.traffic-text {
			font-family: "BebasNeueCyrillic";
		}
		.price-text {
			font-family: "BebasNeueCyrillic";
		}
		&-price-wrap {
			display: flex;
			.price-rate {
				font-family: "BebasNeueCyrillic";
				font-style: normal;
				font-size: 24px;
				line-height: 100%;
				letter-spacing: 0.05em;
			}
		}
		&-btn {
			font-family: "Montserrat-Medium";
			font-style: normal;
			font-weight: 600;
			font-size: 30px;
			line-height: 38px;
			border: 1px #fff solid;
			padding: 20px 43px;
			margin-top: 20px;
			max-width: 290px;
			cursor: pointer;
			border-radius: 10px;
		}
	}
}

.ekapusta {
	.recl-text {
		font-family: "BebasNeueCyrillic";
	}
}

.slick-dots {
	position: absolute;
	top: 21%;
	right: 27%;
	display: flex;
	list-style: none;
	button {
		margin-right: 16px;
		background: #fff;
		border: none;
		border-radius: 50%;
		height: 15px;
		width: 15px;
		outline: none;
		cursor: pointer;
		font-size: 0;
	}
}

.slick-dots li[class="slick-active"] button {
	background: #000;
}

.orange {
	background: $orange;
	color: #fff;
}

.green {
	background: $green;
	color: #fff;
}

.lightYellow {
	background: $lightYellow;
	color: #000;
}

.lightGreen {
	background: $lightGreen;
	color: #fff;
}

.svg-fon-orange {
	position: absolute;
	right: 0;
	bottom: -143px;
}

.svg-fon-green {
	position: absolute;
	bottom: 0;
	right: 0;
}

.svg-fon-lightYellow {
	position: absolute;
	bottom: 0;
	right: 0;
}

.svg-fon-lightGreen {
	position: absolute;
	bottom: 0;
	right: 0;
}

@media (max-width: 1415px) {
	.slick-dots {
		right: 25%;
	}
}
@media (max-width: 1380px) {
	.slick-dots {
		right: 24%;
	}
}
@media (max-width: 1310px) {
	.slick-dots {
		right: 22%;
	}
}

//-------------------------------------------------------------------
// -----------------------------------------  1250  ------------------

@media (max-width: 1250px) {
	.slick__items {
		width: 100%;
		position: relative;
	}
	.header {
		width: 925px;
		margin: 0 auto;
		margin-top: 15px;
		height: 38px;
		margin-bottom: 110px;
		&-logo {
			font-size: 26px;
		}
		&-btn {
			border: 1px #fff solid;
			font-size: 14px;
			line-height: 22px;
			padding: 11px 15px;
			cursor: pointer;
		}
	}
	.content {
		width: 925px;
		margin: 0 auto;
		font-size: 20px;
		line-height: 28px;
		&-wrap {
			max-width: 475px;
			margin-bottom: 80px;
		}
		&-top {
			font-weight: 700;
			font-size: 40px;
			line-height: 54px;
			margin-bottom: 24px;
		}
		&-text {
			max-width: 491px;
			.text-bold {
				font-style: normal;
				font-weight: 600;
				margin: 24px 0px 4px 0px;
			}
		}
		&-box {
			margin-top: 31px;
			margin-right: 5px;
			width: 290px;
			.top {
				font-weight: 500;
				font-size: 20px;
				line-height: 28px;
				margin-bottom: 3px;
			}
			.text {
				font-size: 72px;
				line-height: 72px;
				letter-spacing: 0.02em;
				margin-bottom: 43px;
			}
			&-price-wrap {
				.price-rate {
					font-style: normal;
					font-size: 24px;
					line-height: 100%;
					letter-spacing: 0.05em;
				}
			}
			&-btn {
				font-weight: 600;
				font-size: 30px;
				line-height: 38px;
				border: 1px #fff solid;
				padding: 20px 43px;
				margin-top: 20px;
				max-width: 290px;
				margin-bottom: 66px;
				z-index: 999;
			}
		}
	}

	.slick-dots {
		position: absolute;
		top: 16%;
		right: 26%;
		button {
			margin-right: 16px;
			height: 15px;
			width: 15px;
		}
	}
	.svg-fon-orange {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	.svg-fon-green {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 700px;
		height: 840px;
	}

	.svg-fon-lightYellow {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 700px;
		height: 840px;
		bottom: -91px;
		right: -41px;
	}

	.svg-fon-lightGreen {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 749px;
		height: 736px;
	}
}

//-------------------------------------------------------------------
// -----------------------------------------  1024  ------------------

@media (max-width: 1024px) {
	.slick__items {
		width: 100%;
		position: relative;
	}
	.header {
		width: 925px;
		margin: 0 auto;
		margin-top: 15px;
		height: 38px;
		margin-bottom: 110px;
		&-logo {
			font-size: 26px;
		}
		&-btn {
			border: 1px #fff solid;
			font-size: 14px;
			line-height: 22px;
			padding: 11px 15px;
			cursor: pointer;
		}
	}
	.content {
		width: 925px;
		margin: 0 auto;
		font-size: 20px;
		line-height: 28px;
		&-wrap {
			max-width: 475px;
			margin-bottom: 80px;
		}
		&-top {
			font-weight: 700;
			font-size: 40px;
			line-height: 54px;
			margin-bottom: 24px;
		}
		&-text {
			max-width: 491px;
			.text-bold {
				font-style: normal;
				font-weight: 600;
				margin: 24px 0px 4px 0px;
			}
		}
		&-box {
			margin-top: 31px;
			margin-right: 5px;
			width: 290px;
			.top {
				font-weight: 500;
				font-size: 20px;
				line-height: 28px;
				margin-bottom: 3px;
			}
			.text {
				font-size: 72px;
				line-height: 72px;
				letter-spacing: 0.02em;
				margin-bottom: 43px;
			}
			&-price-wrap {
				.price-rate {
					font-style: normal;
					font-size: 24px;
					line-height: 100%;
					letter-spacing: 0.05em;
				}
			}
			&-btn {
				font-weight: 600;
				font-size: 30px;
				line-height: 38px;
				border: 1px #fff solid;
				padding: 20px 43px;
				margin-top: 20px;
				max-width: 290px;
				margin-bottom: 66px;
				z-index: 999;
			}
		}
	}

	.slick-dots {
		position: absolute;
		top: 16%;
		right: 22%;
		button {
			margin-right: 16px;
			height: 15px;
			width: 15px;
		}
	}
	.svg-fon-orange {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	.svg-fon-green {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 700px;
		height: 840px;
	}

	.svg-fon-lightYellow {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 700px;
		height: 840px;
		bottom: -91px;
		right: -41px;
	}

	.svg-fon-lightGreen {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 749px;
		height: 736px;
	}
}

@media (max-width: 990px) {
	.slick-dots {
		right: 19%;
	}
}

//-------------------------------------------------------------------
// -----------------------------------------  960  ------------------

@media (max-width: 960px) {
	.header {
		width: 625px;
		margin-top: 29px;
		height: 38px;
		margin-bottom: 220px;
		&-logo {
			font-size: 26px;
		}
		&-btn {
			border: 1px #fff solid;
			font-size: 14px;
			line-height: 22px;
			padding: 8px 12px;
			cursor: pointer;
			border-radius: 6px;
		}
	}
	.content {
		width: 625px;
		font-size: 20px;
		line-height: 28px;
		&-wrap {
			max-width: 295px;
			margin-bottom: 315px;
		}
		&-top {
			font-weight: 700;
			font-size: 24px;
			line-height: 32px;
			margin-bottom: 24px;
		}
		&-text {
			max-width: 491px;
			.text-bold {
				font-size: 16px;
				line-height: 24px;
				font-style: normal;
				margin: 24px 0px 4px 0px;
			}
			.text-mid {
				font-size: 14px;
				line-height: 22px;
			}
		}
		&-box {
			width: 230px;
			margin-top: 21px;
			margin-right: 0px;
			.top {
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 0px;
			}
			.text {
				font-size: 64px;
				line-height: 64px;
				letter-spacing: 0.02em;
				margin-bottom: 27px;
			}
			&-price-wrap {
				.price-rate {
					font-size: 24px;
					line-height: 100%;
					letter-spacing: 0.05em;
				}
			}
			&-btn {
				font-size: 20px;
				line-height: 28px;
				border: 1px #fff solid;
				padding: 20px 43px;
				margin-top: 20px;
				max-width: 220px;
				margin-bottom: 66px;
				cursor: pointer;
				border-radius: 6px;
			}
		}
	}

	.slick-dots {
		top: 25%;
		right: 23%;
		button {
			margin-right: 16px;
			height: 15px;
			width: 15px;
		}
	}
	.svg-fon-orange {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	.svg-fon-green {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 700px;
		height: 840px;
	}

	.svg-fon-lightYellow {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 700px;
		height: 840px;
		bottom: -91px;
		right: -41px;
	}

	.svg-fon-lightGreen {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 700px;
		height: 840px;
	}
}

@media (max-width: 740px) {
	.slick-dots {
		right: 20%;
	}
}

//-------------------------------------------------------------------
// -----------------------------------------  660  ------------------

@media (max-width: 660px) {
	.header {
		width: 328px;
		margin-top: 24px;
		height: 38px;
		margin-bottom: 40px;
		&-logo {
			font-size: 26px;
		}
		&-btn {
			border: 1px #fff solid;
			font-size: 14px;
			line-height: 22px;
			padding: 8px 12px;
			cursor: pointer;
			border-radius: 6px;
		}
	}
	.content {
		width: 328px;
		font-size: 20px;
		line-height: 28px;
		&-wrap {
			margin-bottom: 40px;
			position: absolute;
		}
		&-top {
			font-weight: 700;
			font-size: 24px;
			line-height: 32px;
			margin-bottom: 32px;
		}
		&-text {
			display: none;
		}
		&-box {
			width: 230px;
			margin-top: 156px;
			margin-right: 0px;
			.top {
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 0px;
			}
			.text {
				font-size: 64px;
				line-height: 64px;
				letter-spacing: 0.02em;
				margin-bottom: 27px;
			}
			&-price-wrap {
				.price-rate {
					font-size: 24px;
					line-height: 100%;
					letter-spacing: 0.05em;
				}
			}
			&-btn {
				font-size: 20px;
				line-height: 28px;
				border: 1px #fff solid;
				padding: 20px 43px;
				margin-top: 20px;
				max-width: 220px;
				margin-bottom: 66px;
				cursor: pointer;
				border-radius: 6px;
			}
		}
	}

	.slick-dots {
		top: 29%;
		left: 26%;
		button {
			margin-right: 16px;
			height: 12px;
			width: 12px;
		}
	}
	.svg-fon-orange {
		position: absolute;
		right: 0;
		bottom: 0;
	}

	.svg-fon-green {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 700px;
		height: 840px;
	}

	.svg-fon-lightYellow {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 700px;
		height: 840px;
		bottom: -91px;
		right: -41px;
	}

	.svg-fon-lightGreen {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 700px;
		height: 840px;
	}
}

@media (max-width: 600px) {
	.slick-dots {
		left: 22%;
	}
}
// @media (max-width: 1415px) {
// 	.slick-dots {
// 		right: 25%;
// 	}
// }
